.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 50px 2rem 50px;
  background: rgb(242, 142, 28);
  background: linear-gradient(
    0deg,
    rgba(242, 142, 28, 1) 0%,
    rgba(244, 164, 71, 1) 68%,
    rgba(255, 239, 218, 1) 100%
  );
  margin: 1rem;
  border-radius: 30px;

  &__img {
    max-height: 200px;
  }

  &__content-beer {
    margin: 0;
  }

  &__content-title {
    font-size: 12px;
  }

  p {
    font-size: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .info {
    padding: 5rem 300px 5rem 300px;

    &__content-title {
      font-size: 16px;
    }

    p {
      font-size: 12px;
    }
  }

  img {
    max-height: 300px;
  }
}
